<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-green accent-4 scrolling-navbar" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbRippleRadius>
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">Features</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">Pricing</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">Opinions</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
    <!--Section: Features v.3-->
<section class="section feature-box pt-5">
    <!--Grid row-->
    <div class="row">
    <div class="col-sm-4">
        <!-- <div class="card"> -->
          <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>
    <br>
    <!--Grid row-->

     <div class="row">
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>
<br>
    <!--Grid row-->

     <div class="row">
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="card card-cascade">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            <div class="card-body text-center">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title</p>
                <!-- <a href="#" class="card-link">Another link</a> -->
                <br>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>

</section>
<!--Section: Features v.3-->
      
  </div>
</main>